<app-ng-bootstrap-carousel></app-ng-bootstrap-carousel>

<div class="bg-light">
    <div class="welcome-messsage ">
        <p><b>OUR SERVICES</b></p>
        <p>WE OFFER A WIDE RANGE OF IT-RELATED SERVICES.</p>
        
        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">

            <div class="service-info-container bg-light">
                <div class="service-info-content">
                    Please do not hesitate to contact us for more details about which services and products will be suitable for your business requirements and needs.<br />
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                            <fa-icon class="concept-icon" [icon]="['fas', 'screwdriver-wrench']"></fa-icon>&nbsp;
                            STARTER-BUSINESS SETUP
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            We offer basic IT service assitance to those businesses and individuals who want to operate their businesses on a digital space. These services include:<br/><br />
                            <ul class=" ">
                                <li><b>Domain Preparation </b> - the process of crafting, searching, and securing the domain name.</li>
                                <li><b>Email Accounts Setup</b> - the process of creating client's business email accounts as required.</li>
                                <li><b>Devices Configuration</b> - the process of configuring email accounts on client's devices as required. </li>                           
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">

                            <fa-icon class="concept-icon" [icon]="['fas', 'laptop-code']"></fa-icon>&nbsp;
                           RESPONSIVE WEB DESIGN
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">We spend lot of time with our clients, gathering the specifications for 
                            their design requirements before finalizing the design. 
                            Our designs are built using <b>HTML5 </b>, <b>CSS3 </b>, <b>Bootstrap 15.x </b>, <b>TypeScript</b>. Our designs are responsive (RWD) and mobile friendly.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                            <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon>&nbsp;
                           CM SYSTEMS
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Organizations such as churches, communities, event management angents, and bloggers  always want to communicate changes, updates, and activities happening in their space. 
                            Wordpress is an open-source licence framework widely used universally by most programmers, we effectively use Wordpress to build sites for our clients who what to use their site for effective communication.</div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">

                            <fa-icon class="concept-icon" [icon]="['fas', 'code']"></fa-icon>&nbsp;
                            WEB APPs DEVELOPMENT
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">We develop busienss application tailured to gear our clients' busienss processes, by building functionalities that respond to our clients' business needs. 
                            These are custom applications developments built with latest technologies aimed at performing some processes and functionalities.
                                <ul class=" ">
                                    <li><b>Front-end Development </b> - developing responsibe UIs.</li>
                                    <li><b>Back-end Development</b> - writing algorithms that handle business processes.</li>
                                    <li><b>API Integration</b> - integrating the application with other systems. </li>
                                </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                
                            <fa-icon class="concept-icon" [icon]="['fas', 'wrench']"></fa-icon>&nbsp;
                            WEB ADMINISTRATION
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">We develop busienss application tailured to gear our clients' busienss processes, by
                            We are not limited to offering services to businesses with an existing websites and applications for upgrades,
                            maintenance, administrations such as:
                            <ul class="extra-services-list">
                                <li>Revamping the design, the look, and the feel of the application.</li>
                                <li>Adding new features and functionalities to your application.</li>
                                <li>Administration related services such as setting up new emails, buckups and recoveries, etc.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>

