<!-- <div class="sidebar-heading">
    <b>SIDEBAR</b>
</div> -->
<div class="side-bar">

<h5 class="sidebar-heading-subheading">CONTACT DETAILS</h5>
<div class="sidebar-projects-list list-group">
    <span class="list-group-item list-group-item-actio">
        <fa-icon class="concept-icon " [icon]="['fas', 'phone']"> </fa-icon> (+27)79 691-0468 
    </span>
    <span class="list-group-item list-group-item-actio">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> info@ypac.co.za 
    </span>
    <!-- <span class="list-group-item">
        <fa-icon class="concept-icon" [icon]="['fas', 'envelope']"> </fa-icon> services@ypac.co.za
    </span> -->
</div>

<h5 class="sidebar-heading-subheading">MISCs</h5>
<div class="sidebar-projects-list list-group">
    
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon" [icon]="['fas', 'question']"></fa-icon>
        FAQs
    </a>
    <a class="list-group-item list-group-item-action" routerLink="/dashboard">
        <fa-icon class="concept-icon" [icon]="['fas', 'file-lines']"></fa-icon>
        Terms & Conditions
    </a>
</div>


<h5 class="sidebar-heading-subheading">RECENT PROJECTS</h5>
<div class="sidebar-projects-list list-group">
    <!-- <a class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon> 
        Mabunda Group
    </a> -->
    <a class="list-group-item list-group-item-action" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon>
        Monakali Attorneys
    </a>
    <!-- <a type="button" class=" list-group-item" routerLink="/projects">
        <fa-icon class="concept-icon" [icon]="['fas', 'globe']"></fa-icon>
        SW Constructions
    </a> -->
</div>
</div>







