.header-contact-details-container {
    padding-top: 7px;
    padding-bottom: 7px;
    color: red;
    text-align: right;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.logo {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 2em sans-serif;
}

.logo img {
    height: 60px;
    padding-right: 10px;
}


.active {
    color: #f0f0f0;
    font-weight: bold;
    border-bottom: 3px solid red;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0;
}

.nav-item:hover {
    background-color:green;
    /* color: #f0f0f0; */
    color: white;
  
}

.nav-item:hover .nav-link{
    color: white;
}

nav {
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    background-color: black;
    /* border-radius: 6px; */
}

.container-fluid {
    padding-left: 0px;
    margin-left: 0px;
}

.navbar-light {
    padding-left: 8px;
}

.header-img {
    text-align: right;
}

