<app-ng-bootstrap-carousel></app-ng-bootstrap-carousel>

<div class="bg-light">
    <div class="welcome-messsage ">
        <p><b>OOPS!</b></p>
        <p>THE RESOURCE YOU ARE LOOKING FOR WAS NOT FOUND.</p>

        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>

        <!-- <share-buttons theme="circles"
            [include]="['copy', 'facebook', 'email', 'messenger', 'mix', 'line', 'linkedin', 'pinterest', 'print', 'reddit', 'sms', 'telegram', 'tumblr', 'twitter', 'viber', 'vk', 'xing', 'whatsapp']"
            [exclude]="['pinterest','reddit','tumblr','mix','viber','vk','telegram','xing','line']"
            [show]="3"
            [showIcon]="true" 
            [showText]="false" 
            image="https://loremflickr.com/320/240"
            url="https://twitter.com/" description="yPac -IT Services"
            twitterAccount="rodrigokamada" 
            class="pt-5">
        </share-buttons> -->
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">
   
            <div class="page-error-paragraph">
                <section>
                    The page you are looking for could not be found or you do not have access to the page.
                </section>
                <section>
                    Please content the administrator for further assistance.
                </section>
            </div>
            
        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>

