<footer class="bg-light">
    <div class="row footer-items-container">

        <div class="col-md-3 footer-item">
        
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'gift']"></fa-icon>&nbsp;
                    OUR SERVICES
            </div>
            <div class="footer-item-list">
                
                    Setups for Starters<br />           
                    Web Designs<br />             
                    CM Systems<br />
                    Web Development<br />
  
            </div>
        </div>
        
            <div class="col-md-3 footer-item">
                <div class="footer-item-header">
                    <fa-icon class="concept-icon" [icon]="['fas', 'bars']"></fa-icon>&nbsp; MAIN MENU
                </div>
                <div class="footer-item-list footer-quick-links">
                    <span>
                        <a class="" routerLink="/"> Our Packanges</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/"> About Us</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/"> Our Services</a><br />
                    </span>
                    <span>
                        <a class="" routerLink="/contact"> Contact Us</a><br />
                    </span>
                </div>
            </div>
          
        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'location-dot']"></fa-icon>&nbsp; PHYSICAL ADDRESS
            </div>
            <div class="footer-item-list">
                <span>Northlands Corner <br />
                </span>
                <span>Witkoppen & NewMarket Rd <br />
                </span>
                <span>Northriding<br />
                </span>
                
                <span>
                    2169
                </span>
            </div>
        </div>

        <div class="col-md-3 footer-item">
            <div class="footer-item-header">
                <fa-icon class="concept-icon" [icon]="['fas', 'phone']"></fa-icon>&nbsp;
                CONTACT DETAILS
            </div>
            <div class="footer-item-list">
                (+27)79 691-0468<br />
                (+27)10 223-7877<br />
                service@ypac.co.za<br />
                info@ypac.co.za<br />
            </div>
        </div>

        
    </div>
  
    
    <div class=" row bg-dark copyright-items-container ">
        <div class="" >
            ypac.co.za | All Rights reserved &copy; 2023 <p> Developed by Yingi
        </div>
    </div>
    
</footer>
