<app-ng-bootstrap-carousel></app-ng-bootstrap-carousel>

<div class="bg-light">
    <div class="welcome-messsage ">
        <p><b>CONTACT US</b></p>
        <p>GET IN TOUCH WITH US FOR MORE INFO.</p>
        
        <div class="social-buttons-aligner">
            <app-share-this-buttons></app-share-this-buttons>
        </div>
    </div>

</div>


<div class="row page-content">

    <div class="col-md-9">

        <div class="page-content-container">

            <!-- <div class="hint-content-header">
                <div class="hint-content">
                    <fa-icon class="concept-icon hint" [icon]="['fas', 'circle-exclamation']"></fa-icon>&nbsp;
                    Please emsure that you provide all the required details before submiting the form.
                </div>
            </div> -->

            <form  [formGroup]="contactForm" (ngSubmit)="sendMessage()">
                <div class="contac-form-name">
                    Contact form
                </div>
                
                <div class="form-group">
                    <!-- #firstName allows angular to bind form-controls change status to ngModel -->
                    <input type="text"  formControlName="firstName" class="form-control form-control-sm" placeholder="Fisrt name">
                    <!--Multiple Validation Error messages -->
                    <div *ngIf="firstName?.touched && firstName?.invalid" class="form-validation-message">
                        <div *ngIf="firstName?.errors?.['empty']">* First name required </div>
                        <div *ngIf="firstName?.errors?.['whiteSpace']">* First name cannot contain whitespace</div>
                        <div *ngIf="firstName?.errors?.['specialCharacter']">* First name cannot contain special chatacter(s)</div>
                    </div>
                </div>
            
                <div class="form-group">
                    <!-- #firstName allows angular to binda the form-control to ngModel -->
                    <input type="text" formControlName="emailAddress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                        class="form-control form-control-sm" placeholder="Email address">

                    <!--Multiple Validation Error messages -->
                    <div *ngIf="emailAddress?.touched && emailAddress?.invalid" class="form-validation-message">
                        <div *ngIf="emailAddress?.errors?.['required']">* Email address required </div>
                        <div *ngIf="emailAddress?.errors?.['pattern']"> * Email address does not match the required data format </div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-select form-select-sm" formControlName="subject" for="subject">
                        <option hidden value="" disabled selected> --- Select subject --- </option>
                        <!--Binding the selected option as an object {"id": 2, "name": "Email"}-->
                        <option *ngFor="let subject of subjects" [value]="subject.description">
                            {{subject.description}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <textarea type="text" formControlName="message" id="message" rows="4"
                        class="form-control form-control-sm" placeholder="Your message ..."></textarea>
                        <div *ngIf="message?.touched && message?.invalid" class="form-validation-message">
                            <div *ngIf="message?.errors?.['required']">* Message cannot be empty </div>

                        </div>
                </div>

                <div class="form-group contact-form-btn-container">
                    <!-- keeps the button inactive untill when the for is valid -->
                    <input type="reset" value="Clear" class="btn btn-sm contact-form-btn">
                    <input type="submit" value="Submit" [disabled]="!contactForm.valid"
                        class="btn btn-sm contact-form-btn submit">
                    
                </div>


            </form>

        <!-- <div class="map">
            <google-map [options]="mapOptions"></google-map>
        </div> -->

        </div>
    </div>

    <div class="col-md-3">
        <app-sidebar></app-sidebar>
    </div>

</div>