<!--Page title -->
<!-- <div class="page-heading ">
    {{viewTitle}} 
</div> -->

<!--Page content -->


<!-- <app-carousel></app-carousel> -->

<app-ng-bootstrap-carousel></app-ng-bootstrap-carousel>

<div class="bg-light">
    <div class="welcome-messsage ">
        <p><b>WELCOME</b></p>
        <p>WE ARE INFORMATION TECHNOLOGY (IT) CONSULTING COMPANY <br/>DEDICATED TO PROVIDE QUALITY SERVICES TO OUR
        CLIENTS, AT A REASONABLE RATES.</p>
        
        <!-- <app-ngx-share-buttons></app-ngx-share-buttons> -->
        <div  class="social-buttons-aligner" >
            <app-share-this-buttons></app-share-this-buttons>
        </div>
        
    </div>
  
</div>
<!--The working version of image gallery-->
    <!-- <app-ngx-lightbox></app-ngx-lightbox>  -->

<!--Page content -->
  

    <div class="row featured-items-container">
        
        <div class="col-md-4 featured-container">
            <div class="home-first-col">

                <div class="featured-items-image">
                        <img src="../assets/featured/web app.png">
                </div>
                <div class="featured-items-headings">
                    Web Apps
                </div>
    
                <div class="featured-items-description">
                    We develop a wide range of web Apps, from  basic  websites to advanced Web Apps, depanding on our clients' needs. 
                </div>
    
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/services"> Explore </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 featured-container">
            <div class="home-first-col">
                <div class="featured-items-image">
                    <img src="../assets/featured/graphic design.png">
                </div>
                <div class="featured-items-headings">
                    Graphic Design
                </div>
        
                <div class="featured-items-description">
                    We craft various design concepts ( banners, business cards, flyers, etc ) for our cliants depanding on their requirements. 
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/services"> Explore </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 featured-container">
            <div class="home-first-col">
                <div class="featured-items-image">
                    <img src="../assets/featured/media.png">
                </div>
                <div class="featured-items-headings">
                   Media
                </div>
        
                <div class="featured-items-description">
                    We use advanced gudgets ( cameras ) to create special memories for individuals, families and organizations.
                </div>
        
                <div class="featured-items-button-container">
                    <a class="featured-items-buttom btn" routerLink="/services"> Explore </a>
                </div>
            </div>
        </div>
    </div>



    



