/* 
    The first column of the first row
*/

.home-first-col {
    padding-left: 0px;
}
/* 
    The first column of the firs row
*/
.home-intro-heading {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    color: green;     
}

.home-intro-sub-heading{
    font-size: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    color: black;
    padding-bottom: 10px;
}

.home-intro-summary {
    font-size: 17px;
    padding: 15px;
    background: black;
    opacity: 0.6;
    color: white; 
    border-radius: 5px;
}

.home-intro-button-container {
    padding-top: 15px;
}

.home-intro-button {  
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background-color:goldenrod;
    border: none;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    border-radius: 5px;
}

.home-second-col{
   text-align: center;
}

.home-intro-image {
    padding-top: 20px;
    height: 220px;
    width: 80;
}

.featured-container{
    text-align: center;
    padding: 20px;
}

.featured-items-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    }


.featured-items-image img{
    max-height: 140px;
}

.featured-items-headings{
    font-size: 27px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: black;
        /* padding-bottom: 10px; */
        /* margin-top: 10px;         */
}

.featured-items-description {
    padding-top: 20px;
    padding-bottom: 10px;
}

.featured-items-button-container {
    padding-top: 15px;
}

.featured-items-buttom {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 8px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}

.featured-items-buttom:hover {
    color: white;
    background-color: green;
}




